<header class="navbar big-primary">
  <div class="navbar-start">
    <a routerLink="/" class="btn btn-wide btn-accent">KpopShop</a>
  </div>

  <div class="navbar-end">
    @if (!(isAuthenticated | async)) {
    <a routerLink="/account/login" class="btn btn-ghost">Login</a>
    <a routerLink="/account/register" class="btn btn-ghost">Sign Up</a>
    } @else {
    <a routerLink="/products" class="btn btn-ghost">Products</a>
    <div>
      <a routerLink="/cart" class="btn btn-ghost">
        Cart
        <span class="font-bold" id="item-count">({{ numberOfItems$ | async }})</span>
      </a>
    </div>
    <a routerLink="/cards" class="btn btn-ghost">Cards</a>
    <button (click)="logout()" class="btn btn-ghost">Logout</button>
    }
  </div>
</header>
