<div class="hero">
  <div class="hero-content flex flex-row">

    <form [formGroup]="form">
      <span *ngIf="hasError('name')" class="badge badge-error">Name is invalid</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Name:
        <input id="name" type="text" class="grow" formControlName="name"/>
      </label>

      <span *ngIf="hasError('code')" class="badge badge-error">Code is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Code:
        <input id="code" type="text" class="grow" formControlName="code"/>
      </label>

      <span *ngIf="hasError('ccv')" class="badge badge-error">CCV is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        CCV:
        <input id="ccv" type="text" class="grow" formControlName="ccv"/>
      </label>

      <span *ngIf="hasError('date')" class="badge badge-error">Date is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Date:
        <input id="date" type="date" class="grow" formControlName="date"/>
      </label>

      <button
        id="connect"
        class="btn btn-primary w-full"
        (click)="onSubmit()"
        [disabled] = "form.invalid"
      >Add</button>
    </form>

  </div>
</div>
