<div class="hero">
  <div class="hero-content flex-col">
    <h1 class="text-2xl font-bold mb-4 text-center">Register</h1>
    <span *ngIf="error" class="badge badge-error my-1">{{error}}</span>
    <form [formGroup]="form">
      <span *ngIf="hasError('firstName')" class="badge badge-error">First Name is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2"
        [ngClass]="{ 'input-error': hasError('firstName') }">
        First Name:
        <input id="firstName" type="text" class="grow" formControlName="firstName" />
      </label>


      <span *ngIf="hasError('lastName')" class="badge badge-error">Last Name is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2"
      [ngClass]="{ 'input-error': hasError('lastName') }">
        Last Name:
        <input id="lastName" type="text" class="grow" formControlName="lastName"/>
      </label>


      <span *ngIf="hasError('address')" class="badge badge-error">Address is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2"
      [ngClass]="{ 'input-error': hasError('address') }">
        Address:
        <input id="address" type="text" class="grow" formControlName="address">
      </label>


      <span *ngIf="hasError('postalCode')" class="badge badge-error">Postal Code is invalid</span>
      <label class="input input-bordered flex items-center gap-2 mb-2"
      [ngClass]="{ 'input-error': hasError('postalCode') }">
        Postal Code:
        <input id="postalCode" type="text" class="grow" formControlName="postalCode">
      </label>


      <span *ngIf="hasError('city')" class="badge badge-error">City is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        City:
        <input id="city" type="text" class="grow" formControlName="city">
      </label>


      <span *ngIf="hasError('phone')" class="badge badge-error">Phone is invalid</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Phone:
        <input id="phone" type="text" class="grow" formControlName="phone">
      </label>


      <span *ngIf="hasError('email')" class="badge badge-error">Email is invalid</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Email:
        <input id="email" type="email" class="grow" formControlName="email"/>
      </label>


      <span *ngIf="hasError('title')" class="badge badge-error">Title is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Title:
        <select id="title" class="select select-bordered w-full max-w-xs" formControlName="title">
          <option disabled selected>Choose Title</option>
          <option>Mr.</option>
          <option>Ms.</option>
        </select>
      </label>

      <span *ngIf="hasError('country')" class="badge badge-error">Country is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Country:
        <input id="country" type="text" class="grow" formControlName="country">
      </label>


      <span *ngIf="hasError('password')" class="badge badge-error">Password must be at least 8 characters long</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Password:
        <input id="password" type="password" class="grow" formControlName="password"/>
      </label>


      <span *ngIf="hasError('confirmPassword')" class="badge badge-error">Must be the same</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Confirm Password:
        <input id="confirmPassword" type="password" class="grow" formControlName="confirmPassword"/>
      </label>

      <button
        id="register"
        class="btn btn-primary w-full"
        (click)="onSubmit()"
        [disabled] = "form.invalid"
      >Register</button>
    </form>
  </div>
</div>
