<div class="flex flex-col">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div *ngFor="let card of cards | async" class="rounded overflow-hidden shadow-lg">
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">{{ card.name }}</div>
        <p class="text-gray-700 text-base">
          {{ card.code | formatCardCode }}
        </p>
      </div>
      <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
          {{ card.date }}
        </span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">
          {{ card.ccv }}
        </span>
      </div>
    </div>
  </div>
  <!-- <app-card-form></app-card-form> -->
</div>
