<div class="bg-white shadow-md rounded my-6">
  <div class="overflow-x-auto">
    <table class="min-w-full">
      <thead class="bg-gray-50">
        <tr>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Product
          </th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Price
          </th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
            Quantity
          </th>
          <th class="px-6 py-3 border-b-2 border-gray-300"></th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr *ngFor="let item of items$ | async">
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="flex items-center">
              <div class="flex-shrink-0 h-10 w-10">
                <!-- <img class="h-10 w-10 rounded-full" [src]="item.cover" alt=""> -->
              </div>
              <div class="ml-4">
                <div class="text-sm leading-5 font-medium text-gray-900">{{ item.name }}</div>
                <!-- <div class="text-sm leading-5 text-gray-500">{{ item.description }}</div> -->
              </div>
            </div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ item.price | currency }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
            <div class="text-sm leading-5 text-gray-900">{{ item.quantity }}</div>
          </td>
          <td class="px-6 py-4 whitespace-no-wrap text-right border-b border-gray-200 text-sm leading-5 font-medium">
            <button class="text-red-600 hover:text-red-900" (click)="remove(item)">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="flex justify-start mt-4">
  <button (click)="command()" type="button" class="bg-blue-500 text-white px-4 py-2 rounded">Command</button>
</div>
<div class="absolute bottom-0 right-0 m-4" *ngIf="alert">
  <div role="alert" class="alert alert-success flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Your purchase has been confirmed!</span>
  </div>
</div>

<div class="absolute bottom-0 right-0 m-4" *ngIf="error">
  <div role="alert" class="alert alert-error flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>Cart is empty</span>
  </div>
</div>

