<div class="flex justify-center mb-8">
  <product-search (onChange)="onSearchChange($event)"></product-search>
</div>

<div class="flex space-x-10" *ngIf="(cards$ | async) as items">
  <product-album
    *ngFor="let item of items"
    [album]="item"
    class="rounded overflow-hidden shadow-lg"
  ></product-album>
</div>
