<div class="hero">
  <div class="hero-content flex-col">
      <span *ngIf="error" class="badge badge-error my-1">{{error}}</span>
    <form [formGroup]="form">
      <span *ngIf="hasError('email')" class="badge badge-error">Email is invalid</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Email:
        <input id="email" type="email" class="grow" formControlName="email"/>
      </label>

      <span *ngIf="hasError('password')" class="badge badge-error">Password is required</span>
      <label class="input input-bordered flex items-center gap-2 mb-2">
        Password:
        <input id="password" type="password" class="grow" formControlName="password"/>
      </label>

      <button
        id="register"
        class="btn btn-primary w-full"
        (click)="onSubmit()"
        [disabled] = "form.invalid"
      >Connect</button>
    </form>
  </div>
</div>
