<div class="card w-96 bg-base-100 shadow-xl">
  <img class="w-full" [src]="album.cover">
  <div class="card-body">
    <div class="card-title">{{ album.title }}</div>
    <p class="font-bold">{{ album.artist }}</p>
    <p class="font-semibold">{{ album.year }}</p>
    <strong class="">{{ album.price | currency}}</strong>

    <div class="card-actions justify-end">
      <button
        class="btn btn-primary"
        (click)="addToCart(album)">
        Buy</button>
    </div>

  </div>
</div>
